
{% extends "base.html" %}
{% block content %}
{% load static %}


           <center> <div class="main" ><h1>{{title}}</h1></div></center>

           <center> <div class="form-container">
               
                    <h1>Register Yourself</h1>
                     <form>
                    <input type = "text" name="fullname" placeholder="Full Nmae" required >
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <select name="gender"required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <button type ="submit">Register</button>

                </form>

{%for n in list%}
<div>{{forloop.counter}}{{n}}</div>
{% endfor %}

<br/>
<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Phone</th>
    </tr>
     {%for d in user_details%}
    <tr>
       <td>{{d.name}}</td>
       <td>{{d.phone}}</td>
    </tr>
{%endfor%}
</table>

{% if numbers|length > 0 %}


{% for n in numbers %}
   {% if n > 0 %}
   <div>{{n}}</div>
   {% endif %}

{% endfor %}

{%else%}
no data in the list
{%endif%}

            </div></center>
{% endblock %}

