{% extends 'base.html' %}
{% block content %}
{% load static %}


  <div class="marksheet-container">
    <h2>📘 Student Marksheet</h2>
    <form action="/marksheet/" method="POST">
      {% csrf_token %}
      <input type="number" name="subject1" placeholder="Enter Marks" required>
      <input type="number" name="subject2" placeholder="Enter Marks" required>
      <input type="number" name="subject3" placeholder="Enter Marks" required>
      <input type="number" name="subject4" placeholder="Enter Marks" required>
      <input type="number" name="subject5" placeholder="Enter Marks" required>
      <button type="submit" class="btn">Calculate</button>
    </form>

    <div class="result-box">
        <p><strong>Total:</strong> {{ data.total }}</p>
    </div>
    <div class="result-box">
        <p><strong>Percentage:</strong> {{ data.percentage }}%</p>
    </div>
   
     <div class="result-box">
        <p><strong>Division:</strong> {{ data.div }}</p>
    </div>
  </div>



{% endblock %}