{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    .portfolio-details {
  max-width: 800px;
  margin: 80px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.portfolio-details h1 {
  font-size: 32px;
  color: #101820;
  margin-bottom: 20px;
}

.portfolio-details p {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
    .portfolio-details {
      padding: 20px 10px;
      margin: 30px 10px;
    }

    .portfolio-details h1 {
      font-size: 22px;
    }

    .portfolio-details p {
      font-size: 15px;
    }
  }
  @media (max-width: 768px) {
  .responsive-img {
    width: 100%;
    height: auto;
  }
}

</style>
<div class="portfolio-details">
  <h1>{{ portfoliodetails.portfolio_title }}</h1>
  <div class=".responsive-img">
    {% if portfoliodetails.portfolio_imag != Null %}
    <img src="/media/{{ portfoliodetails.portfolio_imag}}"style="width:500px; height:500px; border-radius:20px;"/>
    {% endif %}
  </div><br><br><br>

  <p>{{ portfoliodetails.portfolio_desc | safe }}</p>
</div>
{% endblock %}
