{% extends "base.html" %}
{% block content %}
{% load static %}

  <!-- Projects Section -->
  <section class="projects-section">
    <h1>My Projects</h1>
    <p class="intro">These are some of the real-world projects I have worked on:</p>

    <div class="projects-grid">
      <div class="project-card">
         <video controls width="100%">
  <source src="/media/flask.mp4" type="video/mp4">
  Your browser does not support the video tag. 
</video> 
        <div class="card-content">
          <h3>Flask Blogging Platform</h3>
          <p>A dynamic blog with backend integration and user authentication using Flask.</p>
        </div>
      </div>

      <div class="project-card">
       <video controls width="100%">
  <source src="/media/jarvis.mp4" type="video/mp4">
  Your browser does not support the video tag. 
</video> 
        <div class="card-content">
          <h3>Jarvis AI Assistant</h3>
          <p>A Python-based voice assistant using OpenAI, weather, notes, and GUI features.</p>
        </div>
      </div>

     <div class="project-card">
  <video controls width="100%">
  <source src="/media/bloggedin.mp4" type="video/mp4">
  Your browser does not support the video tag. 
</video>
  <div class="card-content">
    <h3>BloggedIn (WordPress)</h3>
    <p>WordPress blog using Elementor, Gemini AI, and custom content optimization.</p>
  </div>
</div>
 
  </section>

 {% endblock %}

